<p>
  lista-nombres-chistosos works!
</p>


<!--
1. Hacer un formulario para ingresar un nuevo nombre y que los ingrese en el arreglo arregloNombresChistosos
 -->
<div class="formulario">
<form action="">

  <input name="input-nombre-violador" [(ngModel)]="nombreChistosoIngresado._nombres" type="text"
         placeholder="Ingrese nombre chistoso" class="imput-nc"><br>

  <input name="input-nombre-violador" [(ngModel)]="nombreChistosoIngresado._apellidos" type="text"
         placeholder="Ingrese apellido chistoso" class="imput-nc"><br>

  <input name="input-nombre-violador" [(ngModel)]="nombreChistosoIngresado.alias" type="text"
         placeholder="Ingrese alias" class="imput-nc"><br>

  <input name="input-nombre-violador" [(ngModel)]="nombreChistosoIngresado.violo" type="text"
         placeholder="Fue violado (si o  no)" class="imput-nc"><br>

  <input name="input-nombre-violador" [(ngModel)]="nombreChistosoIngresado.porQuien" type="text"
         placeholder="Ingrese por quien fue violado" class="imput-nc"><br>

    <button (click)="agregarNombre(nombreChistosoIngresado)" class="primary-btn">Agregar nombre</button>
</form>
</div>

<!---------->


<br>
<table>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Alias</th>
    <th>Violado</th>
    <th>¿Por quien?</th>
    <th>Acciones</th>
  </tr>
  <!--Estamos declarando una variable que se llama defil con ruedas que va a tomar el valor de cada elemento del arreglo -->
  <tr *ngFor="let delfinConRuedas of this.arregloNombresChistosos">
    <td>{{delfinConRuedas.nombres|json}}</td>
    <td>{{delfinConRuedas.apellidos|json}}</td>
    <td>{{delfinConRuedas.alias|json}}</td>
    <td>{{delfinConRuedas.violo|json}}</td>
    <td>{{delfinConRuedas.porQuien|json}}</td>
    <td> <button class="primary-btn">editar</button> <button class="primary-btn"> borrar</button> </td>
  </tr>
</table>

