table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
}

.formulario{
  width: 400px;
  height: auto;
  padding: 10px;
  margin: 20px;
  float: left;
}

.imput-nc{
  padding: 15px 10px;
  width: 100%;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 50px;
  height:auto;
  margin-bottom: 10px;
}

.primary-btn{
  width: 100%;
  background-color: green;
  height: auto;
  padding: 10px 10px;
  color: white !important;
  border-radius: 50px;
  margin: 0px !important;
  text-align: center;
  cursor: pointer;
}

.primary-btn:hover{
  background-color: darkgreen;
}
